<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Lista de Familiares </h1>
    <h2> Nombre: {{ n1 }} Apellido: {{ ape1 }} Edad: {{ ed1 }} Fecha de Nacimiento: {{ nac1 }}</h2>
    <h2> Nombre: {{ n2 }} Apellido: {{ ape2 }} Edad: {{ ed2 }} Fecha de Nacimiento: {{ nac2 }}</h2>
    <h2> Nombre: {{ n3 }} Apellido: {{ ape3 }} Edad: {{ ed3 }} Fecha de Nacimiento: {{ nac3 }}</h2>
</body>
</html>